In [12]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import plotly.express as px

In [13]:
data=pd.read_csv("gdp_csv.csv")
data.head(5)

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

In [14]:
data.columns = ['Country', 'Code', 'Year', 'Value']

In [15]:
data.head()

      Country Code  Year         Value
0  Arab World  ARB  1968  2.576068e+10
1  Arab World  ARB  1969  2.843420e+10
2  Arab World  ARB  1970  3.138550e+10
3  Arab World  ARB  1971  3.642691e+10
4  Arab World  ARB  1972  4.331606e+10

In [16]:
data.dtypes

Country     object
Code        object
Year         int64
Value      float64
dtype: object

In [17]:
data = data.astype({"Value":'int'})

In [18]:
data.dtypes

Country    object
Code       object
Year        int64
Value       int32
dtype: object

In [19]:
data.Country.unique()

array(['Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Korea, Rep.', 'Kosovo', 'Kuwait', 'Kyrgyz Republic',
       'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao SAR, China',
       'Macedonia, FYR', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovak Republic',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis',
       'St. Lucia', 'St. Vincent and the Grenadines', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Vietnam',
       'Virgin Islands (U.S.)', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [20]:
data.shape

(11507, 4)

In [21]:
data.isna().sum()

Country    0
Code       0
Year       0
Value      0
dtype: int64

In [22]:
data.groupby('Year').describe()

      Value                                                          \
      count          mean           std           min           25%
Year
1960  132.0 -8.388765e+08  1.428238e+09 -2.147484e+09 -2.147484e+09
1961  132.0 -8.557465e+08  1.431086e+09 -2.147484e+09 -2.147484e+09
1962  134.0 -8.735255e+08  1.431838e+09 -2.147484e+09 -2.147484e+09
1963  134.0 -9.534158e+08  1.392111e+09 -2.147484e+09 -2.147484e+09
1964  134.0 -9.938603e+08  1.382431e+09 -2.147484e+09 -2.147484e+09
1965  144.0 -9.044942e+08  1.421574e+09 -2.147484e+09 -2.147484e+09
1966  145.0 -9.092058e+08  1.423089e+09 -2.147484e+09 -2.147484e+09
1967  148.0 -8.908529e+08  1.432818e+09 -2.147484e+09 -2.147484e+09
1968  152.0 -9.126809e+08  1.443134e+09 -2.147484e+09 -2.147484e+09
1969  152.0 -9.124550e+08  1.470482e+09 -2.147484e+09 -2.147484e+09
1970  161.0 -9.120570e+08  1.453439e+09 -2.147484e+09 -2.147484e+09
1971  163.0 -9.952486e+08  1.413456e+09 -2.147484e+09 -2.147484e+09
1972  163.0 -9.622894e+08  1.463932e+09 -2.147484e+09 -2.147484e+09
1973  163.0 -1.100821e+09  1.397329e+09 -2.147484e+09 -2.147484e+09
1974  163.0 -1.163526e+09  1.409380e+09 -2.147484e+09 -2.147484e+09
1975  166.0 -1.268486e+09  1.337897e+09 -2.147484e+09 -2.147484e+09
1976  167.0 -1.318551e+09  1.297026e+09 -2.147484e+09 -2.147484e+09
1977  171.0 -1.284568e+09  1.323579e+09 -2.147484e+09 -2.147484e+09
1978  170.0 -1.308421e+09  1.336147e+09 -2.147484e+09 -2.147484e+09
1979  171.0 -1.312757e+09  1.356748e+09 -2.147484e+09 -2.147484e+09
1980  182.0 -1.324156e+09  1.342493e+09 -2.147484e+09 -2.147484e+09
1981  186.0 -1.330755e+09  1.334927e+09 -2.147484e+09 -2.147484e+09
1982  187.0 -1.326330e+09  1.329721e+09 -2.147484e+09 -2.147484e+09
1983  188.0 -1.321833e+09  1.323112e+09 -2.147484e+09 -2.147484e+09
1984  189.0 -1.272890e+09  1.377086e+09 -2.147484e+09 -2.147484e+09
1985  193.0 -1.317742e+09  1.338426e+09 -2.147484e+09 -2.147484e+09
1986  194.0 -1.272251e+09  1.408033e+09 -2.147484e+09 -2.147484e+09
1987  198.0 -1.376931e+09  1.337536e+09 -2.147484e+09 -2.147484e+09
1988  200.0 -1.407647e+09  1.329217e+09 -2.147484e+09 -2.147484e+09
1989  204.0 -1.511273e+09  1.210670e+09 -2.147484e+09 -2.147484e+09
1990  222.0 -1.529284e+09  1.214810e+09 -2.147484e+09 -2.147484e+09
1991  222.0 -1.503816e+09  1.248972e+09 -2.147484e+09 -2.147484e+09
1992  223.0 -1.443093e+09  1.303019e+09 -2.147484e+09 -2.147484e+09
1993  227.0 -1.403920e+09  1.343221e+09 -2.147484e+09 -2.147484e+09
1994  229.0 -1.403868e+09  1.329458e+09 -2.147484e+09 -2.147484e+09
1995  237.0 -1.461100e+09  1.300137e+09 -2.147484e+09 -2.147484e+09
1996  238.0 -1.511443e+09  1.249495e+09 -2.147484e+09 -2.147484e+09
1997  237.0 -1.517778e+09  1.249395e+09 -2.147484e+09 -2.147484e+09
1998  239.0 -1.475183e+09  1.292835e+09 -2.147484e+09 -2.147484e+09
1999  240.0 -1.482564e+09  1.278254e+09 -2.147484e+09 -2.147484e+09
2000  245.0 -1.454799e+09  1.301338e+09 -2.147484e+09 -2.147484e+09
2001  245.0 -1.450922e+09  1.310609e+09 -2.147484e+09 -2.147484e+09
2002  249.0 -1.474199e+09  1.295181e+09 -2.147484e+09 -2.147484e+09
2003  249.0 -1.548549e+09  1.240997e+09 -2.147484e+09 -2.147484e+09
2004  250.0 -1.596133e+09  1.208542e+09 -2.147484e+09 -2.147484e+09
2005  250.0 -1.670565e+09  1.117087e+09 -2.147484e+09 -2.147484e+09
2006  251.0 -1.691215e+09  1.105225e+09 -2.147484e+09 -2.147484e+09
2007  251.0 -1.718631e+09  1.071834e+09 -2.147484e+09 -2.147484e+09
2008  250.0 -1.739003e+09  1.051936e+09 -2.147484e+09 -2.147484e+09
2009  249.0 -1.735289e+09  1.060737e+09 -2.147484e+09 -2.147484e+09
2010  250.0 -1.745790e+09  1.055578e+09 -2.147484e+09 -2.147484e+09
2011  250.0 -1.788356e+09  9.925148e+08 -2.147484e+09 -2.147484e+09
2012  246.0 -1.779986e+09  1.005559e+09 -2.147484e+09 -2.147484e+09
2013  247.0 -1.761023e+09  1.041935e+09 -2.147484e+09 -2.147484e+09
2014  245.0 -1.753121e+09  1.059748e+09 -2.147484e+09 -2.147484e+09
2015  244.0 -1.751135e+09  1.062477e+09 -2.147484e+09 -2.147484e+09
2016  236.0 -1.765951e+09  1.042052e+09 -2.147484e+09 -2.147484e+09


               50%           75%           max
Year
1960 -2.147484e+09  4.296380e+08  2.037151e+09
1961 -2.147484e+09  3.775310e+08  2.088012e+09
1962 -2.147484e+09  3.740843e+08  2.094400e+09
1963 -2.147484e+09  3.240382e+08  1.978438e+09
1964 -2.147484e+09  2.690309e+08  1.975702e+09
1965 -2.147484e+09  3.479646e+08  2.097452e+09
1966 -2.147484e+09  3.400000e+08  2.126301e+09
1967 -2.147484e+09  3.168653e+08  1.865667e+09
1968 -2.147484e+09  3.272073e+08  1.947333e+09
1969 -2.147484e+09  3.212806e+08  2.144333e+09
1970 -2.147484e+09  2.930739e+08  2.140384e+09
1971 -2.147484e+09  2.915755e+08  1.984800e+09
1972 -2.147484e+09  3.307604e+08  2.112293e+09
1973 -2.147484e+09  3.061738e+08  1.913793e+09
1974 -2.147484e+09  2.937163e+08  2.100250e+09
1975 -2.147484e+09  1.416870e+08  2.096699e+09
1976 -2.147484e+09  1.079213e+08  1.708735e+09
1977 -2.147484e+09  9.856728e+07  2.096568e+09
1978 -2.147484e+09  8.821161e+07  1.947948e+09
1979 -2.147484e+09  1.056622e+08  2.139025e+09
1980 -2.147484e+09  7.868411e+07  1.945917e+09
1981 -2.147484e+09  7.582416e+07  2.087496e+09
1982 -2.147484e+09  9.126302e+07  2.128090e+09
1983 -2.147484e+09  1.074059e+08  2.097274e+09
1984 -2.147484e+09  1.320191e+08  2.098735e+09
1985 -2.147484e+09  1.144907e+08  2.100223e+09
1986 -2.147484e+09  1.236270e+08  2.070081e+09
1987 -2.147484e+09  7.699610e+07  2.090630e+09
1988 -2.147484e+09 -1.599870e+09  2.143484e+09
1989 -2.147484e+09 -2.147484e+09  2.118575e+09
1990 -2.147484e+09 -2.147484e+09  2.101625e+09
1991 -2.147484e+09 -2.147484e+09  2.068527e+09
1992 -2.147484e+09 -2.147484e+09  2.029027e+09
1993 -2.147484e+09 -2.147484e+09  2.070647e+09
1994 -2.147484e+09 -2.147484e+09  2.081846e+09
1995 -2.147484e+09 -2.147484e+09  2.116004e+09
1996 -2.147484e+09 -2.147484e+09  2.129267e+09
1997 -2.147484e+09 -2.147484e+09  2.093995e+09
1998 -2.147484e+09 -2.147484e+09  2.076737e+09
1999 -2.147484e+09 -2.147484e+09  2.018194e+09
2000 -2.147484e+09 -2.147484e+09  1.911564e+09
2001 -2.147484e+09 -2.147484e+09  2.118468e+09
2002 -2.147484e+09 -2.147484e+09  1.987622e+09
2003 -2.147484e+09 -2.147484e+09  2.023324e+09
2004 -2.147484e+09 -2.147484e+09  2.089189e+09
2005 -2.147484e+09 -2.147484e+09  2.115154e+09
2006 -2.147484e+09 -2.147484e+09  2.092586e+09
2007 -2.147484e+09 -2.147484e+09  2.049139e+09
2008 -2.147484e+09 -2.147484e+09  1.985239e+09
2009 -2.147484e+09 -2.147484e+09  2.061324e+09
2010 -2.147484e+09 -2.147484e+09  2.139073e+09
2011 -2.147484e+09 -2.147484e+09  2.054490e+09
2012 -2.147484e+09 -2.147484e+09  1.823692e+09
2013 -2.147484e+09 -2.147484e+09  1.946500e+09
2014 -2.147484e+09 -2.147484e+09  2.013000e+09
2015 -2.147484e+09 -2.147484e+09  2.059259e+09
2016 -2.147484e+09 -2.147484e+09  2.101000e+09

In [24]:
# countries split
country = ['Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Korea, Rep.', 'Kosovo', 'Kuwait', 'Kyrgyz Republic',
       'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao SAR, China',
       'Macedonia, FYR', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovak Republic',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis',
       'St. Lucia', 'St. Vincent and the Grenadines', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Vietnam',
       'Virgin Islands (U.S.)', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe']

In [25]:
countries = data[data['Country'].isin(country)]

In [26]:
countries.reset_index(inplace=True, drop=True)

In [27]:
countries.head()

       Country Code  Year      Value
0  Afghanistan  AFG  1960  537777811
1  Afghanistan  AFG  1961  548888895
2  Afghanistan  AFG  1962  546666677
3  Afghanistan  AFG  1963  751111191
4  Afghanistan  AFG  1964  800000044

In [28]:
countries.Country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Ethiopia', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Polynesia', 'Gabon', 'Gambia, The', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran, Islamic Rep.', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, Rep.', 'Kosovo',
       'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macao SAR, China', 'Macedonia, FYR', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovak Republic',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis',
       'St. Lucia', 'St. Vincent and the Grenadines', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Vietnam',
       'Virgin Islands (U.S.)', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [31]:
countries.describe(include='all')

            Country  Code         Year         Value
count          9201  9201  9201.000000  9.201000e+03
unique          210   210          NaN           NaN
top     Philippines   SUR          NaN           NaN
freq             57    57          NaN           NaN
mean            NaN   NaN  1991.561461 -1.232938e+09
std             NaN   NaN    15.815023  1.384643e+09
min             NaN   NaN  1960.000000 -2.147484e+09
25%             NaN   NaN  1979.000000 -2.147484e+09
50%             NaN   NaN  1993.000000 -2.147484e+09
75%             NaN   NaN  2005.000000  1.878210e+08
max             NaN   NaN  2016.000000  2.144333e+09

                   Country       Value
4600       Kyrgyz Republic -2147483648
5611                Monaco -2147483648
5610                Monaco -2147483648
5609                Monaco -2147483648
5608                Monaco -2147483648
...                    ...         ...
8556                Uganda  2139025000
7005            San Marino  2139072847
8047  Syrian Arab Republic  2140383695
5430             Mauritius  2143484487
7771                 Sudan  2144333333

[9201 rows x 2 columns]